.container-about {
    display: flex;
    justify-content: center;
    background-color: #121413;
    margin-top: 20rem;
    padding-bottom: 5rem;
}

.about-me {
    width: 100%;
    margin-top: 5rem;
    margin-left: 5%;
    margin-right: 5%;
    /* border: 1px solid black; */
}

.title {
    text-align:center;
    font-size: 250%;
    color: white;
}

.container-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 1px solid black; */

}

.card {
    padding: 1rem;
    background-color: #1e201e;
    width: 15rem;
    height: 15rem;
    margin: 1rem
}

.card:hover {
    background-color: #232523;
}

.question{
    color: lightgrey;
    border-bottom: 1px solid lightgrey
}

.answer {
    color: white;
}