footer {
    background-color: #343a49;
    border: 1px solid black;
    padding: 1rem;
}

.section-contact {
    margin-top: 15rem;
}

.platforms {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.platform {
    text-decoration: none;
    color: white;
}

.container-view-cv {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.view-cv {
    background-color: #6741d9;
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 0.5rem;
    color: white;
}