.section-skills {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    margin-left: 5%;
    margin-right: 5%;
}

.skills-icon {
    width: 3rem;
    height: 3rem;
    color: grey
}

.title-skills {
    text-align: center;
    color: lightgrey;
}

.container-skills {
    display: grid;
    gap: 5%;
    grid-template-columns: 50% 50%;
    margin-top: 5rem;
    margin-right: 5%;
}

.skill-card {
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
    background-color: #1e201e;
    padding: 1rem;
    border: 1px solid black;
    margin-bottom: 0.5rem;
    text-align: center;
}

.skill-card-icon {
    color: #1e201e;
    background-color: green;
    border-radius: 1rem;
    margin-right: 1rem;
}